:root {
  --structural-bg: rgb(45 ,72 , 85);
  --structural-masked: rgb(150,176, 159);
  --structural-active: rgb(181,204, 215);
  --structural-accent: rgb(199 ,69 , 68);
  --energetic-bg:  rgb(70 ,30 , 30);
  --energetic-masked:  rgb(66 ,54 , 87);
  --energetic-active: rgb(141 ,87, 132);
  --energetic-accent: rgb(213,203 , 98);
  --informative-bg:  rgb(67 ,64 , 34);
  --informative-masked:  rgb(61,116 , 76);
  --informative-active: rgb(161,185, 112);
  --informative-accent: rgb(255,157 , 46);
  --macro-bg:  rgb(34 ,34 , 34);
  --macro-masked: rgb(122,122, 122);
  --macro-active: rgb(163,163, 163);
  --macro-accent: rgb(226,226, 226);
}

html button {
    background: transparent;
    border-color: transparent;
}

.tc-tiddler-frame { padding: 0; margin: 0; }
.tc-titlebar { font-size: 2em; }
.tc-subtitle { line-height: 0; display: none; } 

.transparent { color: transparent; }
.label { color: var(--macro-masked); }

cosmic-microwave-background {
    height: 50vmin;
    width: 100%; /*min(50vh, 100vw);*/
    display: block;
    background: var(--macro-bg);
    /*position: fixed;
    bottom: 0;
    right: 0;*/
}
o-arc {
   & { --o-fill: var(--macro-masked) };
   &[path=information] { --o-fill: var(--informative-accent) };
   &[path=energy] { --o-fill: var(--energetic-accent) };
   &[path=structure] { --o-fill: var(--structural-accent) };
   &[path=true] { --o-fill: var(--macro-accent) };

  &.accent {
    transition: --o-fill 1s ease;
    &.energy { --o-fill: var(--energetic-accent); }
    &.structure { --o-fill: var(--structural-accent); }
    &.information { --o-fill: var(--informative-accent); }
  }
  &.bg {
    transition: --o-fill 1s ease;
    &.energy { --o-fill: var(--energetic-bg); }
    &.structure { --o-fill: var(--structural-bg); }
    &.information { --o-fill: var(--informative-bg); }
  }
  &.active {
    transition: --o-fill 1s ease;
    &.energy { --o-fill: var(--energetic-active); }
    &.structure { --o-fill: var(--structural-active); }
    &.information { --o-fill: var(--informative-active); }
  }
  &.masked {
    transition: --o-fill 1s ease;
    &.energy { --o-fill: var(--energetic-masked); }
    &.structure { --o-fill: var(--structural-masked); }
    &.information { --o-fill: var(--informative-masked); }
  }
  &.inactive {
    --o-fill: transparent;
  }

  @starting-style {
    --o-fill: transparent;
  }
}

o-arc.textual, connector-label, context-connector {
    & { color: var(--macro-masked) };
    &[path=information] { color: var(--informative-accent) };
    &[path=energy] { color: var(--energetic-accent) };
    &[path=structure] { color: var(--structural-accent) };
    &[path=true] { color: var(--macro-accent) };
    transition: color 1s ease;
    @starting-style {
      color: transparent;
    }
}

.transit {
  border-color: var(--macro-masked);
  transition: border-color 1s ease;
  @starting-style {
      border-color: transparent;
   }
}
.satellite {
  color: transparent;
}

.orbit-11, universal-schedular {
  cursor: pointer;

  fill: var(--macro-bg);
  & > * profile-outline .energy {
    transition: fill .6s ease;
    &.bg { fill: var(--energetic-bg); }
    &.masked { fill: var(--energetic-masked); }
    &.active { fill: var(--energetic-active); }
    &.accent { fill: var(--energetic-accent); }
  }
  & > * profile-outline .structure {
    transition: fill .6s ease;
    &.bg { fill: var(--structural-bg); }
    &.masked { fill: var(--structural-masked); }
    &.active { fill: var(--structural-active); }
    &.accent { fill: var(--structural-accent); }
  }
  & > * profile-outline .information {
    transition: fill .6s ease;
    &.bg { fill: var(--informative-bg); }
    &.masked { fill: var(--informative-masked); }
    &.active { fill: var(--informative-active); }
    &.accent { fill: var(--informative-accent); }
  }
  &:hover  * profile-outline {
    & .masked { fill: var(--macro-bg); stroke: var(--macro-masked); stroke-width: 1px; }
    & .active { fill: var(--macro-bg); stroke: var(--macro-masked); stroke-width: 1px; }
    & .accent { fill: var(--macro-bg); stroke: var(--macro-masked); stroke-width: 1px; }
    & .bg { fill: var(--macro-bg); }
  }
  pointer-events: all;
}

o-arc.textual {
  --o-fill: none !important;
}

.being.information {
  &.bg { fill: var(--macro-bg); }
  &.masked { fill: var(--macro-masked); }
  &.active { fill: var(--macro-active); }
  &.accent { fill: var(--macro-accent); }

  &:hover .bg { fill: var(--informative-bg); }
  &:hover .masked { fill: var(--informative-masked); }
  &:hover .active { fill: var(--informative-active); }
  &:hover .accent { fill: var(--informative-accent); }
}


svg {
  width: 100%;
  height: 100%;
}
button {
  pointer-events: all;
  fill: transparent;

  &:not([disabled=true]) scheduler-state:hover > svg {
    transition: fill 1s ease;
    & .structure.accent { fill: var(--structural-accent); }
    & .structure.bg { fill: var(--structural-bg); }
    & .structure.masked { fill: var(--structural-masked); }
    & .structure.active { fill: var(--structural-active); }

    & .information.accent { fill: var(--informative-accent); }
    & .information.bg { fill: var(--informative-bg); }
    & .information.masked { fill: var(--informative-masked); }
    & .information.active { fill: var(--informative-active); }

    & .energy.accent { fill: var(--energetic-accent); }
    & .energy.bg { fill: var(--energetic-bg); }
    & .energy.masked { fill: var(--energetic-masked); }
    & .energy.active { fill: var(--energetic-active); }
  }
  & scheduler-state > svg {
    & .masked { fill: var(--macro-masked); }
    & .active { fill: var(--macro-active); }
    & .accent { fill: var(--macro-accent); }
    & .bg { fill: var(--macro-bg); }
  }
  &:not([disabled=true]) scheduler-state[scheduled=true] > svg {
    & .structure.accent { fill: var(--structural-bg); }
    & .structure.bg { fill: var(--structural-accent); }

    & .information.accent { fill: var(--informative-bg); }
    & .information.bg { fill: var(--informative-accent); }

    & .energy.accent { fill: var(--energetic-bg); }
    & .energy.bg { fill: var(--energetic-accent); }
  }

  &:not([disabled=true]) scheduler-state[scheduled=true] > svg {
    & .structure.accent { fill: var(--structural-bg); }
    & .structure.bg { fill: var(--structural-accent); }

    & .information.accent { fill: var(--informative-bg); }
    & .information.bg { fill: var(--informative-accent); }

    & .energy.accent { fill: var(--energetic-bg); }
    & .energy.bg { fill: var(--energetic-accent); }
  }

  &[disabled=true] scheduler-state > svg {
    & .masked, .active, .accent, .bg { fill: var(--macro-bg); stroke: var(--macro-masked); stroke-width: 1px; }
  }
  /*&[disabled=true] scheduler-state > svg {
    & .masked { fill: var(--macro-masked); }
    & .active { fill: var(--macro-active); }
    & .accent { fill: var(--macro-accent); }
    & .bg { fill: var(--macro-bg); }
  }*/
}